<div class="flex">
    <div class="w-1/2 flex-col">
        <div class="mt-10 ml-6">
            <h2>Bienvenue</h2>
            <p>Tu cherches à échanger avec des développeurs et développeuses ?</p>
            <p>Tu es à la recherche d'un emploi dans le développement web en Belgique ?</p>
            <p>Tu cherches une conférence ou une formation autour d'un sujet particulier ?</p>
            <p>Tu cherches un Hackathon ou un nouveau challenge ?</p>
            <h2>Alors ce site est pour toi</h2>
        </div>
        <div class="flex justify-around">
            <div class="w-1/3 text-center rounded-lg bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 p-8">
                <h3 class="text-2xl font-semibold mb-4">Les évènements</h3>
                <p class="text-lg mb-4">Découvrez tous les évènements qui auront lieu prochainement et inscrivez-vous</p>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Voir les évènements</button>
            </div>
            <div class="w-1/3 text-center rounded-lg bg-gradient-to-r from-red-500 via-pink-500 to-purple-400 p-8">
                <h3 class="text-2xl font-semibold mb-4">Gestion des évènements</h3>
                <p class="text-lg mb-4">Vous souhaitez créer un évènement, gérer vos évènements et vos participations ?</p>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Gérer mes évènements</button>
            </div>

        </div>
    </div>
    <div class="w-1/2">
        <img src="assets/img/meeting.png" alt="">
    </div>
</div>