<div class="flex justify-around text-center">
    <div>
        <div class="flex flex-col w-full max-w-xs text-center">
            <label>nom de l'évènement</label>
            <input class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" type="text" placeholder="nom de l'évènement">
            <label>début de l'évènement</label>
            <input class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" type="date" placeholder="debut">
            <label>fin de l'évènement</label>
            <input class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" type="date" placeholder="fin">
            <label>nombre d'invités max</label>
            <input class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" type="number" placeholder="nombre d'invités">
            <label>description de l'évènement</label>
            <input class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" type="text" placeholder="description de l'évènement">
          </div>
    </div>
    <div>
        <img src="assets/img/meeting.png" alt="">
    </div>
</div>
